<div class="d-flex justify-content-between">
  <h1 class="h3 mb-3">Usuários</h1>
</div>

<div class="row">
  <div class="col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-actions float-end">
          <button class="btn btn-sm btn-primary">Novo</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-xl-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:5%;">#ID</th>
                  <th style="width:20%;">Username</th>
                  <th style="width:25%">Email</th>
                  <th style="width:15%">Role</th>
                  <th style="width:15%">Status Usuário</th>
                  <th style="width:15%">Created At</th>
                  <th style="width:25%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; index as i">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td class="d-none d-md-table-cell">{{ user.role }}</td>
                  <td class="d-none d-md-table-cell">{{ user.statusUsuario }}</td>
                  <td class="d-none d-md-table-cell">{{ user.createdAt }}</td>
                  <td>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" data-lucide="edit-2" class="lucide lucide-edit-2 align-middle">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"></path>
                      </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" data-lucide="trash" class="lucide lucide-trash align-middle">
                        <path d="M3 6h18"></path>
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                      </svg></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
