<div class="d-flex justify-content-between">
  <h1 class="h3 mb-3">Usuários</h1>
</div>

<users-search (search)="onSearch($event)" (clearFiltersEvent)="clearFilters()"></users-search>

<shared-loading #loading *ngIf="loading;"></shared-loading>

<div class="row mt-3" *ngIf="!loading">
  <div class="col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-actions float-end">
          <a href="#" routerLink="/users/create">
            <button class="btn btn-sm btn-primary">Novo</button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-xl-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:5%;">#ID</th>
                  <th style="width:20%;">Username</th>
                  <th style="width:25%">Email</th>
                  <th style="width:15%">Role</th>
                  <th style="width:15%">Status Usuário</th>
                  <th style="width:15%">Created At</th>
                  <th style="width:25%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; trackBy: trackByUser">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td class="d-none d-md-table-cell">{{ user.role }}</td>
                  <td class="d-none d-md-table-cell">
                    <span class="badge text-white font-weight-bold"
                      [ngClass]="{' text-bg-success me-2': isAtivo(user), ' text-bg-warning me-2': !isAtivo(user)}">
                      {{ user.statusUsuario }}
                    </span>
                  </td>
                  <td class="d-none d-md-table-cell">
                    {{ user.createdAt }}
                  </td>
                  <td class="d-flex gap-1">

                    <a href="#" [routerLink]="['/users/edit/', user.id]">
                      <i class="fas fa-pencil fa-2x"></i>
                    </a>

                    <a href="javascript:void(0);" (click)="ativarUsuario(user)">
                      <i class="fas fa-sync fa-2x" *ngIf="!isAtivo(user); else inativar_user" title="Ativar usuário">
                      </i>
                    </a>

                    <ng-template #inativar_user>
                      <a href="javascript:void(0);" (click)="inativarUsuario(user)">
                        <i class="fas fa-trash fa-2x" (click)="inativarUsuario(user)" title="Inativar usuário"></i>
                      </a>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-2 justify-content-between">
          <div class="col-md-auto me-auto ">
            <div class="dt-info" aria-live="polite" id="datatables-reponsive_info" role="status">
              Exibindo {{ reponsePaginated.pageable.pageNumber }}
              to {{ reponsePaginated.totalPages }}
              of {{ reponsePaginated.totalElements }} elementos</div>
          </div>
          <div class="col-md-auto ms-auto ">
            <div class="dt-paging paging_full_numbers">
              <ul class="pagination">
                <li class="dt-paging-button page-item disabled">
                  <a class="page-link first" aria-controls="datatables-reponsive" aria-disabled="true"
                    aria-label="First" data-dt-idx="first" tabindex="-1">«</a>
                </li>
                <li class="dt-paging-button page-item disabled"><a class="page-link previous"
                    aria-controls="datatables-reponsive" aria-disabled="true" aria-label="Previous"
                    data-dt-idx="previous" tabindex="-1">‹</a></li>

                <li class="dt-paging-button page-item">
                  <button class="page-link" aria-controls="datatables-reponsive" aria-current="page" data-dt-idx="0"
                    tabindex="0">1
                  </button>
                </li>

                <li class="dt-paging-button page-item">
                  <button class="page-link" (click)="changePageOfList(2)" aria-controls="datatables-reponsive"
                    data-dt-idx="1" tabindex="0">2</button>
                </li>

                <li class="dt-paging-button page-item">
                  <button href="#" class="page-link" (click)="changePageOfList(3)" aria-controls="datatables-reponsive"
                    data-dt-idx="2" tabindex="0">3</button>
                </li>
                <li class="dt-paging-button page-item"><a href="#" class="page-link"
                    aria-controls="datatables-reponsive" data-dt-idx="3" tabindex="0">4</a></li>
                <li class="dt-paging-button page-item"><a href="#" class="page-link"
                    aria-controls="datatables-reponsive" data-dt-idx="4" tabindex="0">5</a></li>
                <li class="dt-paging-button page-item"><a href="#" class="page-link"
                    aria-controls="datatables-reponsive" data-dt-idx="5" tabindex="0">6</a></li>
                <li class="dt-paging-button page-item"><a href="#" class="page-link next"
                    aria-controls="datatables-reponsive" aria-label="Next" data-dt-idx="next" tabindex="0">›</a></li>
                <li class="dt-paging-button page-item"><a href="#" class="page-link last"
                    aria-controls="datatables-reponsive" aria-label="Last" data-dt-idx="last" tabindex="0">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
